<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decider</title>

  <link href="https://fonts.googleapis.com/css?family=Asap+Condensed|Montserrat:400,800|Gugi" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- jQuery Flash CSS-->
  <link rel="stylesheet" href="/styles/jquery.flash.css"></link>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- jQuery Flash JS-->
  <script type="text/javascript" src="scripts/jquery.flash.js"></script>

  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>


  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
   <div class="jumbotron-fluid mx-auto">

    <nav class="nav">
      <a class="navbar-brand" href="/">
        <a class="navbar-brand p-0" href="/">
            <i class="owl fa-3x fab fa-earlybirds"></i>
          <span>Decider</span>
        </a>
      </a>
    </nav>

    <section class="home">
      <div class="container-fluid">
        <h1 class="main-header">Welcome to Decider</h1>
        <form id="email-form" name="email">
          <fieldset>
              <input class="email" name="email" placeholder="Enter email...">
              <button class="myButton optionBtn btn-primary" id="start" type="submit">Get Started</button>
          </fieldset>
        </form>
      </div>
    </section>

    <section class="home poll-title-page d-none">
      <div class="ptitle-container container-fluid">
        <h2 class="main-header poll-header">Name your poll and let us help you make a decision</h2>
        <form>
          <fieldset>
            <textarea class="poll-title" placeholder="What's your poll name?"></textarea>
            <button class="myButton optionBtn btn-primary" id="nextStep" type="submit">Next Step</button>
          </fieldset>
        </form>
      </div>
    </section>

    <section class="home poll-options-page d-none container-fluid">
      <h1 class="main-header"></h1>
     <!--  <h2 class="options">Give me the options!</h2> -->
      <form>
        <fieldset id="option-fieldset">
          <div class="option-box container-fluid">
            <textarea class="poll-input option" name="option" placeholder="Option"></textarea>
            <textarea class= "poll-input description" placeholder="Description"></textarea>
            <button class="optionBtn btn-primary" id="enterOption">Enter Option</button>
          </div>
            <ul class="poll-options" >
            </ul>
          <button class="optionBtn btn-primary" id="createPoll" name="createPoll" type="submit">Create Poll</button>
        </fieldset>
      </form>

    </section>

    <section class="phone-number home poll-phone-page d-none container-fluid">

      <h1 class="main-header"></h1>
      <form>
        <fieldset id="option-fieldset">
          <h2 class="options send-poll">Send the poll to your friends</h2>
          <textarea class="poll-input textarea-phone-number" placeholder="Enter phone number..."></textarea>
          <button class="myButton btn-primary" id="enterPhoneNumber">Enter Phone Number</button>
          <button class="myButton btn-primary" id="submitPoll" type="submit">Submit Poll</button>
          <ul class="poll-phone-list">
          </ul>
        </fieldset>
      </form>
<!--       <ul class="poll-phone-list" >
      </ul> -->
    </section>

    <section class="created-poll-page d-none container-fluid">
      <h1>Poll Created!</h1>
      <h2 class="main-header poll-title"> </h2>
      <h4 id="share-poll">Share</h4>
      <a href="http://localhost:8080/polls/1">decider/movi</a>
      <h4 id="poll-results">Results</h4>
      <a href="/polls/1/result">decider/moviePollResults</a>
    </section>

  </div>
</body>
</html>

