<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Decider - Results</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/" style="height:100px">
        <a class="navbar-brand p-0" href="/" target="_blank">
          <span>Decider</span>
        </a>
      </a>
    </nav>

   <div class="mx-auto" style="width:50vh">
      <h1>The Results Are In!</h1>
      <h2 class= "poll-title"><%= results[0].ptitle %></h2>
      <ul class= "poll-options">
        <% results.forEach(function(option) { %>
          <li><p class = "optionTitle"><%= option.title %></p><p class = "d-none"><%= option.description %><p>Rank: <%= option.rank %></p></li>
        <% }); %>
      </ul>
    </div>

  </body>
</html>
