<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Decider - Results</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/results.js"></script>
  </head>

  <body>
    <section>
      <h1>The Results Are In!</h1>

      <h2 class= "poll-title"><%= results[2].ptitle %></h2>

      <ul class= "poll-options">
        <% results.forEach(function(poll) { %>
          <li><p><%= poll.title %></p><p><%= poll.description %></li>
        <% }); %>
      </ul>

<!--       <form>
        <textarea placeholder="Option"></textarea>
        <textarea placeholder="Description"></textarea>
        <textarea placeholder="Option"></textarea>
        <textarea placeholder="Description"></textarea>
        <textarea placeholder="Option"></textarea>
        <textarea placeholder="Description"></textarea>
      </form> -->
    </section>

  </body>
</html>
