/*VARIABLE*/
$body-bg: #91B1EB;
$body-color: #F5F9FA;
$theme-colors: (
  "primary": #F3D13F
  );
$font-family-base: 'Asap Condensed', sans-serif;
/*$btn-primary:*/

/* NAVBAR STYLES */
.owl {
  color: #000080;;
}

.nav {
  background-color: #C8B3C2;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  position: fixed;
  padding-top: 24px;
  padding-left: 20px;
  top: 0;
  left: 0;
  width: 100%;
}

span {
  color: #244751;
  font-size: 34px;
}

.main-header {
  color: #244751;
  margin: 0px;
  font-family: 'Montserrat', cursive;
  margin-bottom: 3%
/*  font-size: px;*/
}
body {
  background-color: #EEE;
}
/* HOMEPAGE SECTION */

.home {
  width: 82%;
  margin: 7%;
  text-align: -webkit-center;
}

.jumbotron-fluid {
  background-image: url('../img/blur.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
}

fieldset {
  display: flex;
  border-radius: 25px;
  background-color: #F5F9FA;
  width: 70%;
  height: 66vh;
/*  padding-top: 8%;*/
  opacity: 0.9;
}

.email {
  margin: 11% 20px 20px 20px;
  width: 85%;
  height: 14vh;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-size: 30px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 15px;
}

.myButton {
  height: 15%;
  width: 30%;
  border-radius: 15px;
  margin-top: 4%;
/*  font-size: px;
*/}
/* POLL TITLE PAGE*/

.poll-title-page {
  margin: auto;
}

.ptitle-container {
  padding-top: 13%;
}

.poll-title {
  margin: 11% 20px 20px 20px;
  width: 85%;
  height: 14vh;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-size: 30px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 15px;
}

/* POLL OPTIONS PAGE */
.delete {
/*  background-color: ##dc3545;*/
}

@import "node_modules/bootstrap/scss/bootstrap";
